<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<style>
    .fieldError{
        color : red
    }
</style>
<div class="container my-3">
    <h1>질문 등록</h1>
    <form th:action="@{/study/create}" th:object="${studyDto}" method="post">
        <!-- 제목 입력 -->
        <div class="mb-3">
            <label for="name" class="form-label">이름</label>
            <input type="text" class="form-control" id="name" name="name" th:field="*{name}" placeholder="이름을 입력하세요">
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="fieldError">Error</p>
        </div>

        <!-- 학번 입력 -->
        <div class="mb-3">
            <label for="studentId" class="form-label">학번</label>
            <input type="text" class="form-control" id="studentId" name="studentId" th:field="*{studentId}" placeholder="학번을 입력하세요">
            <p th:if="${#fields.hasErrors('studentId')}" th:errors="*{studentId}" class="fieldError">Error</p>
        </div>

        <!-- 레벨(라디오) 입력 -->
        <!-- 주의 : name을 전부 level로 통일 -->
        <div class="mb-3">
            <div>레벨</div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="level" id="level1" value="BEGINNER">
                <label class="form-check-label" for="level1">BEGINNER</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="level" id="level2" value="INTERMEDIATE">
                <label class="form-check-label" for="level2">INTERMEDIATE</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="level" id="level3" value="ADVANCED">
                <label class="form-check-label" for="level3">ADVANCED</label>
            </div>
            <p th:if="${#fields.hasErrors('level')}" th:errors="*{level}" class="fieldError">Error</p>
        </div>

        <!-- 흥미(드롭다운) 입력 -->
        <div class="mb-3">
        <div>흥미</div>
        <input type="hidden" name="interest" id="interest" th:field="*{interest}">
        <div class="dropdown">
            <button id="interestBtn" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                관심분야
            </button>
            <ul class="dropdown-menu">
                <li><button class="dropdown-item" type="button" data-value="ALGORITHM">ALGORITHM</button></li>
                <li><button class="dropdown-item" type="button" data-value="WEB">WEB</button></li>
                <li><button class="dropdown-item" type="button" data-value="MOBILE">MOBILE</button></li>
                <li><button class="dropdown-item" type="button" data-value="DATA">DATA</button></li>
                </ul>
            </div>
            <p th:if="${#fields.hasErrors('interest')}" th:errors="*{interest}" class="fieldError">Error</p>
        </div>

        <!-- 드롭다운 자바 스크립트(노션 참고) -->
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
        <script>
            document.querySelectorAll('.dropdown-item').forEach(it=>{
              it.addEventListener('click', e=>{
                const val = e.target.dataset.value;
                document.getElementById('interest').value = val;
                document.getElementById('interestBtn').textContent = val;
              });
            });
        </script>

        <!--  오프라인(체크박스) 입력   -->
        <!-- 주의 : name을 전부 level로 통일 -->
        <br>
        <div>오프라인 참여</div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="offline"
                   th:field="*{offlineAvailable}" >
            <label class="form-check-label" for="offline">참여</label>
        </div>

        <!-- 저장하기 버튼 -->
        <br>
        <button type="submit" class="btn btn-primary">저장하기</button>

    </form>
</div>
</body>
</html>