<!doctype html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<div layout:fragment="content" class="container my-3">
    <div class="container my-3">

        <h1>스터디 목록</h1>
        <table class="table table-striped">
            <thead class="table-dark">
            <tr>
                <th>이름</th>
                <th>학번</th>
                <th>난이도</th>
                <th>관심 분야</th>
                <th>오프라인 참여(Y/N)</th>
                <th>등록일(최신순)</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="r: ${result}">
                <td th:text="${r.name}"></td>
                <td th:text="${r.studentId}"></td>
                <td th:text="${r.level}"></td>
                <td th:text="${r.interest}"></td>
                <td th:text="${r.offlineAvailable} ? 'Y' : 'N'"></td>
                <td th:text="${#temporals.format(r.created, 'yyyy-MM-dd HH:mm')}"></td>
            </tr>
            </tbody>
        </table>
        <a th:href="@{/study/create}" class="btn btn-primary">질문 등록</a>
    </div>
</div>
</html>